
html {
    scroll-behavior: smooth;
  }

#main-doc{
    display: grid;
    grid-template-columns: minmax(290px,auto);
    grid-template-areas: "nav main";
    column-gap: 2%;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    grid-area: nav;
}

article{
    grid-area: main;
}

#navbar ul{
    list-style: none;
    line-height: 2.5rem;
}

#navbar ul li{
    border-bottom: 0.08rem solid rgb(131, 40, 40);
    transition: transform .3s ease-out;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-link:hover{
    color: rgb(77, 38, 38);
}
#navbar ul li:nth-child(even) {
    background: rgb(235, 235, 235);
  }

  #navbar ul li:hover{
    transform: translate(5px, 0);
  
}

code{
    display: block;
    padding: 1rem;
background-color: rgb(250, 246, 241);
}

#nav_title{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.7rem;
    
}
